@charset "utf-8";
/* CSS Document */

body{
background-color:#333;	
font-family: 'Simonetta', cursive;
}
.main {
background-color:#999;	
margin:1em auto;
width: 40em;
height: 37em;
border-radius: 3.5em 0.75em;
-moz-box-shadow: 5px 5px 5px #FC0;
-webkit-box-shadow:  5px 5px 5px #FC0;
box-shadow: 5px 5px 5px #FC0;
}
h1, h2{
color: #FC0;
margin: 0 auto;	
width: 15em;
text-shadow:  5px 5px 5px #999;
}
h3{
	color: #FC0;
	display:inline;
	margin-left: 13.5em;
	top: 1em;

}
header{
margin-right:5em;

}
button{
margin:3.5em 0.88em;
padding:0;
width: 18em;
height:3em;
background-color: #FC0;
display: inline;
font-family: 'Simonetta', cursive;
font-size: 16px;
border-radius: 1em 0.5em;
-moz-box-shadow: 5px 5px 5px #333;
-webkit-box-shadow:  5px 5px 5px #333;
box-shadow: 5px 5px 5px #333;
}
textarea{
width: 42em;
height:18em;
margin: 1.5em 3.25em;
background-color: #FC0;
color: #333;
border-radius: 1em 0.5em;
-moz-box-shadow: 5px 5px 5px #333;
-webkit-box-shadow:  5px 5px 5px #333;
box-shadow: 5px 5px 5px #333;
padding: 2px;
}
.submit{
margin-top:0.5em;	
margin-left: 11em;
}
.search{
	width: 20em;
	margin-left: 1em;
	margin-top:2em;
	padding: 1px;
	color: #333;
z-index: 2;
border-radius: 1em 0.5em;
-moz-box-shadow: 5px 5px 5px #333;
-webkit-box-shadow:  5px 5px 5px #333;
box-shadow: 5px 5px 5px #333;
	
}
.titlebox  {
display: inline;	
	width: 15em;

	margin-top:-20em;
	color: #333;
z-index: 1;
border-radius: 1em 0.5em;
-moz-box-shadow: 5px 5px 5px #333;
-webkit-box-shadow:  5px 5px 5px #333;
box-shadow: 5px 5px 5px #333;
	
}
.datebox{
	display: inline;
	color: #333;
z-index: 1;
margin-right: 7em;

border-radius: 1em 0.5em;
-moz-box-shadow: 5px 5px 5px #333;
-webkit-box-shadow:  5px 5px 5px #333;
box-shadow: 5px 5px 5px #333;	
}
.info{
display: inline;	
width: 20em;
margin-left:3.5em;
z-index:6;
padding: 0;
}
h4{
	color: #FC0;
font-size:17px;	
display: inline;	
margin-right:3px;
}